<header th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
  <nav class="navbar navbar-light bg-light">
    <div class="container-md  d-flex">
      <a class="navbar-brand" href="/"><strong>PhilosProgram</strong></a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users"
             th:if="${#authorization.expression('hasAnyAuthority(''ROLE_USER'')')}">Users Online</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/write" th:if="${#authorization.expression('hasAnyAuthority(''ROLE_USER'')')}">Write
            a story</a>
        </li>
        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <div class="dropdown-toggle profile" id="navbarDarkDropdownMenuLink" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
            <div class="dropdown-logo">
              <img
                src="https://images.unsplash.com/photo-1474176857210-7287d38d27c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="dropdown-logo-user">
            </div>
          </div>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-3" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/account/profile">Your Profile</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <a class="dropdown-item" href="javascript: document.logoutForm.submit()">Sign out</a>
              <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
              </form>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" th:if="!${#authorization.expression('hasAnyAuthority(''ROLE_USER'')')}">Sign
            in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"
             th:if="!${#authorization.expression('hasAnyAuthority(''ROLE_USER'')')}">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>