<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--HEAD-->
<head th:replace="coreApp/head :: head">
  <title>Sign In</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="">
      <h1 class="text-center mt-3 mb-3">Login</h1>
      <div class="text-center mb-3">
        New to profile? <a href="/registration"><strong>Create an account.</strong></a>
      </div>

      <!--      <p th:if="${loginError}" class="error">Wrong us email or password</p>-->

      <form class="row text-center box d-flex justify-content-center flex-column" th:action="@{/login}"
            th:object="${userDTO}"
            method="post">
        <div th:if="${param.error}">
          <div class="alert alert-danger">Invalid username or password</div>
        </div>
        <div class="flex-column d-flex justify-content-center align-items-center">

          <div class="col-md-4 mb-3">
            <input type="email" class="form-control" name="username" placeholder="E-mail">
          </div>

          <div class="col-md-4 mb-3">
            <input type="password" class="form-control"  name="password" placeholder="Password">
          </div>

          <div class="icheck-primary">
            <input type="checkbox" id="remember" name="remember-me">
            <label for="remember">
              Remember Me
            </label>
          </div>

          <div class="col-12 text-center mt-3">
            <button type="submit" class="btn btn-outline-dark">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>