<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--HEAD-->
<head th:replace="coreApp/head :: head">
  <title>Profile</title>
</head>
<body>

<header th:replace="coreApp/header:: header">
</header>

<h1>Your Profile</h1>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>


<!--<div>-->
<!--  <p th:text="${userEntity.firstName}"></p>-->
<!--  <p th:text="${userEntity.lastName}"></p>-->
<!--  <p th:text="${userEntity.profile.username}"></p>-->
<!--  <p th:text="${userEntity.email}"></p>-->
<!--  <p th:text="${userEntity.password}"></p>-->
<!--  <p th:text="${userEntity.matchingPassword}"></p>-->
<!--  <hr>-->
<!--  <a th:href="@{/newPost/userEntity/{id}(id=${userEntity.id})}">Write a story</a>-->
<!--  <a th:href="@{/edit/userEntity/{id}(id=${userEntity.id})}">Edit</a>-->
<!--  <a th:href="@{/delete/userEntity/{id}(id=${userEntity.id})}">Delete</a>-->
<!--</div>-->