<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--HEAD-->
<head th:replace="coreApp/head :: head">
  <title>Write Story</title>
</head>
<body>
<div class="container flex-column d-flex justify-content-center align-items-center">
  <h1 class="text-center mt-3 ">New post</h1>
  <a href="/">Come back</a>
    <form class="row text-center mb-3"  method="post">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" class="form-control"
               id="exampleFormControlInput1" placeholder="Title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Description" ></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea2" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea2" rows="10" cols="60"
                  placeholder="Write" ></textarea>
      </div>
      <div class="col-12 text-center mt-3">
        <button type="submit" class="btn btn-outline-dark">Send post</button>
      </div>
    </form>
</div>
</body>
</html>