<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Post</title>
</head>
<style>
    div {
        margin: 10px;
    }
</style>
<body>
<h2>New Post</h2>
<form th:object="${article}" method="post">
  <div>
    <label>Title</label>
    <input th:field="*{contents.value}"/>
  </div>
  <div>
    <label>Description</label>
    <input th:field="*{contents.description}"/>
  </div>
  <div>
    <label>Body</label>
    <input th:field="*{contents.body}"/>
  </div>
  <input type="submit">
</form>
</body>
</html>